.videoContainer {
  height: 100vh;
  width: auto;
  padding-bottom: 50px;
  padding-top: 50px;
  object-fit: cover;
}
.videoContainer video {
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: -999;
}
@media only screen and (max-width: 615px) {
  .videoContainer {
    height: 0;
    padding: 0;
    visibility: hidden;
  }
  .videoContainer video {
    visibility: hidden;
  }
}
