// COLORS
$green: #B9D3b3;
$brown: #915d25;
$yellow: #FFFEC9;
$blue: #76949F;
$white: #fcfcfc;
$dark: #384E77;
$black: #000000;

// FONTS
$headingFont: 'Vollkorn', serif;
$bodyFont: 'Open Sans', sans-serif;