.contact-grid-wrapper {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 100px;
  font-family: $headingFont;
  margin-top: -291px;
  padding-left: 100px;
}

.contact-info-grid-wrapper {
  margin-top: -75px;
  text-shadow: 1px 1px 2px $black;
  font-weight: 900;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.1em;
  color: $gold;
  padding-left: 100px;
  padding-right: 100px;
}

.contact-info-grid-wrapper > .logo img {
  width: 30vw;
  height: auto;
  margin-bottom: -50px;
  padding-left: 100px;
  filter: brightness(175%);
}

.contact-me-grid-wrapper {
  padding: 42px;
  grid-gap: 100px;
  color: $gold;
}

@media (max-width: 615px) {
  .contact-grid-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: none;
    width: 100vw;
    margin-top: -500px;
  }
  .contact-info-grid-wrapper {
    order: 1;
    margin: 0;
    padding: 0;
    display: inline;
    .logo img {
      padding: 0;
      width: 70vw;
      margin: 0;
      filter: brightness(100%);
    }
  }
  .contact-me-grid-wrapper {
    order: 2;
    flex-direction: column;
    padding: 0;
    grid-gap: 0;
    display: inline;
    text-align: center;
    grid-gap: 0;
    margin: 0;

    .two-column {
      width: 80vw;
      height: auto;

      display: inline;
      text-align: center;
    }
  }
}
