.contact-grid-wrapper {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 100px;
  font-family: $headingFont;
  margin-top: -291px;
  padding-left: 100px;
}

.contact-info-grid-wrapper {
  margin-top: -75px;
}

.company-metadata-sidebar-wrapper > .logo img {
  width: 100%;
  margin-bottom: 5px;
  padding-left: 100px;
  filter: brightness(175%);
}

.company-metadata-sidebar-wrapper > .company-details-wrapper {
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: right;
  font-size: 1.1em;
  color: $gold;
  padding-left: 100px;
  padding-right: 100px;
}

.contact-me-grid-wrapper {
  padding: 42px;
  grid-gap: 100px;
  color: $gold;
}
