/* Footer styles */
.footer {
    background-color: $dark;
    color: #cbcbcb;
    font-family: $bodyFont;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    margin-top: -4px;
    
}


.footer > .logo-footer img{
    width: 200px;
    height: 200px;
    /* filter: brightness(50%); */
    // opacity: 0.5;
    margin-bottom: -10px;
}

.social-media-icons-wrapper {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    display: flex;
    justify-content: space-around;

    a{
        font-size: 3em;
        color: $dark;
        transition: 1s;
        &:hover {
            color: $pink;
        }
    }
}

.footer > .copyright-wrapper {
    margin-top: 1px;
    margin-bottom: 42px;
    font-size: 0.7em;
    color: #858585;
}